body {
	background-color: #E3E3E3;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 4px;
	text-transform: uppercase;
	background-color: #2c3949;
	color: #FFF;
	margin: 0;
	border: none;
	border-radius: 0;
}

.jumbotron {
	letter-spacing: 4px;
	text-transform: uppercase;
	background-color: #394b5e;
	color: #FFF;
}

.jumbotron > h1 {
	font-size: 3.5em;
	color: #24c4a3;
}

.navbar a {
	color: #FFF !important;
}

.panel-default {
	border-color: #f39f18;
}

.panel-default > .panel-heading {
	background-color: #f7d091;
}

.modal-header, .modal-footer {
	background-color: #394b5e;
	color: #FFF;
}

.btn-default {
	background-color: #24c4a3 !important;
	border: none;
	color: #FFF;
}